/* cursor.css */
.flare {
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999999 !important;
    border-radius: 50%;
    mix-blend-mode: screen;
    cursor: none !important;
    background: rgba(255, 255, 255, 0.8);
}

@media screen and (max-width: 768px) {
    .flare {
        width: 0;
        height: 0;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
    }
}

.HoverCursor {
    position: relative;
    cursor: none;
    /* Ensures that elements with this class are interactive */
}

.icon-overlay {
    position: absolute;
    top: -50px;
    animation: rain linear infinite;
    filter: brightness(1);
}

/* Add animation properties for the .icon-overlay class */
@keyframes rain {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100vh);
    }
}

.no-cursor {
    cursor: none;
}